<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Téléchargement de Vidéo</title>
    <!-- Inclusion du fichier CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Téléchargez votre vidéo</h1>
        <form id="download-form" action="/" method="post">
            <label for="url">URL de la vidéo :</label>
            <input type="text" name="url" id="url" placeholder="Entrez l'URL de la vidéo" required>
            
            <!-- Boutons de choix de format -->
            <div class="format-buttons">
                <button type="button" class="format-button active" id="format-mp4">MP4</button>
                <button type="button" class="format-button" id="format-mp3">MP3</button>
            </div>

            <input type="hidden" name="format" id="format-input" value="mp4">

            <button type="submit" id="download-btn">Obtenir le lien de téléchargement</button>
        </form>

        <div id="progress-container" style="display:none;">
            <div id="progress-bar"></div>
        </div>

        <a id="download-link" style="display:none;" href="#" download>Cliquer ici pour télécharger</a>
    </div>
    <!-- Inclusion du fichier JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
