<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Téléchargement de Vidéo</title>
    <!-- Inclusion du fichier CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>
<body>
    <div class="container">
        <h1>Téléchargez votre vidéo</h1>
        <form id="download-form" action="/" method="post">
            <label for="url">URL de la vidéo :</label>
            <input type="text" name="url" id="url" placeholder="Entrez l'URL de la vidéo" required>
            <button type="submit">Télécharger</button>
        </form>
        <div id="progress-container">
            <div id="progress-bar"></div>
        </div>
    </div>
    <!-- Inclusion du fichier JavaScript -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
